@-webkit-keyframes movement1 {
  0% {
    transform: translateX(0%) translateY(250px);
  }
  10% {
    transform: translateX(900%) translateY(10px);
  }
  20% {
    transform: translateX(1800%) translateY(250px);
  }
  30% {
    transform: translateX(2700%) translateY(10px);
  }
  40% {
    transform: translateX(3600%) translateY(250px);
  }
  50% {
    transform: translateX(4500%) translateY(10px);
  }
  60% {
    transform: translateX(5400%) translateY(250px);
  }
  70% {
    transform: translateX(6300%) translateY(10px);
  }
  80% {
    transform: translateX(7200%) translateY(250px);
  }
  90% {
    transform: translateX(8100%) translateY(10px);
  }
  100% {
    transform: translateX(9000%) translateY(250px);
  }
}
@keyframes movement1 {
  0% {
    transform: translateX(0%) translateY(250px);
  }
  10% {
    transform: translateX(900%) translateY(10px);
  }
  20% {
    transform: translateX(1800%) translateY(250px);
  }
  30% {
    transform: translateX(2700%) translateY(10px);
  }
  40% {
    transform: translateX(3600%) translateY(250px);
  }
  50% {
    transform: translateX(4500%) translateY(10px);
  }
  60% {
    transform: translateX(5400%) translateY(250px);
  }
  70% {
    transform: translateX(6300%) translateY(10px);
  }
  80% {
    transform: translateX(7200%) translateY(250px);
  }
  90% {
    transform: translateX(8100%) translateY(10px);
  }
  100% {
    transform: translateX(9000%) translateY(250px);
  }
}
@-webkit-keyframes movement2 {
  0% {
    transform: translateX(0%) translateY(10px);
  }
  10% {
    transform: translateX(900%) translateY(250px);
  }
  20% {
    transform: translateX(1800%) translateY(10px);
  }
  30% {
    transform: translateX(2700%) translateY(250px);
  }
  40% {
    transform: translateX(3600%) translateY(10px);
  }
  50% {
    transform: translateX(4500%) translateY(250px);
  }
  60% {
    transform: translateX(5400%) translateY(10px);
  }
  70% {
    transform: translateX(6300%) translateY(250px);
  }
  80% {
    transform: translateX(7200%) translateY(10px);
  }
  90% {
    transform: translateX(8100%) translateY(250px);
  }
  100% {
    transform: translateX(9000%) translateY(10px);
  }
}
@keyframes movement2 {
  0% {
    transform: translateX(0%) translateY(10px);
  }
  10% {
    transform: translateX(900%) translateY(250px);
  }
  20% {
    transform: translateX(1800%) translateY(10px);
  }
  30% {
    transform: translateX(2700%) translateY(250px);
  }
  40% {
    transform: translateX(3600%) translateY(10px);
  }
  50% {
    transform: translateX(4500%) translateY(250px);
  }
  60% {
    transform: translateX(5400%) translateY(10px);
  }
  70% {
    transform: translateX(6300%) translateY(250px);
  }
  80% {
    transform: translateX(7200%) translateY(10px);
  }
  90% {
    transform: translateX(8100%) translateY(250px);
  }
  100% {
    transform: translateX(9000%) translateY(10px);
  }
}
@-webkit-keyframes opac {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
