@media all and (max-width: 767px) {


		.main-nav .list-menu {
			border-bottom: 3px solid rgb(127, 0, 127);
			border-right:0px;
			border-left:0px;
		}
		.list-menu:last-of-type {
			border-bottom:0px;
		}

		 .main-nav .hideBox2 {
		 	display:none;
		 }

		 .main-nav .hideBox1 {
		 	display:block;
		 }

		.list-menu {
			padding:1.3em 0;
		}

		.who-section-params {
			font-size: 7.5vmin;
		}
			.central-element {
				font-size: 8.5vmin;
			}



		.top {
			top:0;
		}

		.left {
			left:0;
		}
		.right {
			right:0;
		}

/*Visibility rules*/
		.main-nav {
			font-size: 6.5vmin;
		}
				.hideBox1::before, .hideBox2::before, .hideBox1::after, .hideBox2::after {
					height: 9vmin;
				}
		.menu {
			font-size: 9vmin;
		}

		.headings-2 {
			font-size: 8.5vmin;
		}
		.subheading {
			font-size: 7vmin;
		}
		.contact-link {
			font-size: 7vmin;
		}

		.options-text {
			font-size: 6vmin;
		}
		.the-best-option {
			font-size: 6.5vmin;
		}

		.concrete-proposition {
			font-size: 5.5vmin;
		}
		.concrete-proposition-paragraph {
			font-size: 5.2vmin;
		}

		.table {
			font-size: 4.7vmin;
		}
		.contact-section-params {
			font-size: 8vmin;
		}
		.tel-skype-number {
			font-size: 10vmin;
		}
}


@media all and (max-width:1025px) {
	.interactive-stick:before, .interactive-stick:after {
		display:none;
	}
}
