@media all and (max-width: 699px) {
	.side-menu {
		width:14vmin;
		height:13vmin;
	}
}

@media all and (min-width:700px) and (max width:850px) {
	.side-menu {
		width:11vmin;
		height:10vmin;
	}
}

@media all and (max-width: 767px) {
		.menu {
			width:22%;
			padding: 4%;
			font-size: 7.5vmin;
		}
		.main-nav .list-menu {
			border-bottom: 3px solid rgb(127, 0, 127);
			border-right:0px;
			border-left:0px;
		}
		.list-menu:last-of-type {
			border-bottom:0px;
		}

		 .main-nav .hideBox2 {
		 	display:none;
		 }

		 .main-nav .hideBox1 {
		 	display:block;
		 }

		.list-menu {
			padding:1.3em 0;
		}

		.who-section-params {
			font-size: 35px;
		}
			.central-element {
				font-size: 8.5vmin;
			}




/*Visibility rules*/
		.main-nav {
			font-size: 6.5vmin;
		}
				.hideBox1::before, .hideBox2::before, .hideBox1::after, .hideBox2::after {
					height: 9vmin;
				}
		.menu {
			font-size: 9vmin;
		}

		.headings-2 {
			font-size: 8.5vmin;
		}
		.subheading {
			font-size: 7vmin;
		}
		.contact-link {
			font-size: 7vmin;
		}

		.options-text {
			font-size: 24px;
		}
		.the-best-option {
			font-size: 6.5vmin;
		}
		.headings-2 {
			background:rgba(255,255,255,.7);
		}

		.background-div {
				height:auto;
		}

		.concrete-proposition {
			font-size: 5.5vmin;
		}
		.concrete-proposition-paragraph {
			font-size: 5.2vmin;
		}

		.table {
			font-size: 4.7vmin;
		}
		.contact-section-params {
			font-size: 8vmin;
		}
		.tel-mail-number {
			font-size: 10vmin;
		}
}


@media all and (max-width:1025px) {
	.interactive-stick:before, .interactive-stick:after {
		display:none;
	}
}

@media all and (max-width:1200px) {
	.top {
		top:0;
	}

	.left {
		left:0;
	}
	.right {
		right:0;
	}

	.why-tip {
		display: none;
	}


}
